<h1> The coolest restaurants ever </h1>
<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <p>
      <%= link_to restaurant.name, restaurant %>
    </p>
  <% end %>
</div>
<%= link_to "New restaurant", new_restaurant_path %>
